
/* Grid container for the image and form */
.grid-container {
    display: grid;
    grid-template-columns: 3fr 1fr; /* Two equal columns */
    height: 100vh;
  }
  .mainbackground{
    background-color: #2a3d52;
  }
  /* Image container styles */
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
  }
  
  .door-image {
    max-width: 100%;
    max-height: 100%;
  }
  
  /* Form container styles */
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
  }
  