.grid-container {
  display: grid;
  grid-template-columns: 3fr 1fr; /* 3 parts for animation, 1 part for form */
  gap: 20px; /* Optional gap between the columns */
  height: 100vh; /* Full height of the viewport */
}
.mainbackground{
  background-color: #2a3d52;
}

.form-container {
  display: flex;
  justify-content: flex-start; /* Align the form container to the left */
  align-items: center;
  background-color: #fff; /* Optional background color */
}

textarea.form-control {
  resize: none;
}
