/* Ensure the animation container fills all available space */
.animation-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #562651; /* Light background color for better visibility */
  }
  .typeofsubcard {
    position: absolute;
    left: 5%;
    top: 20%;
  }
  /* Style the balls for the animation */
  .bouncing-ball {
    position: absolute;
    bottom: 0; /* Start from the bottom of the container */
    border-radius: 50%;
    background-color: #007bff; /* Primary color for balls */
    width: 30px;
    height: 30px;
    animation: bounce 3s infinite ease-in-out;
  }
  
  /* Keyframes for the bounce animation with a higher jump */
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-200px); /* Higher jump */
    }
  }
  
  /* Positioning additional balls with a delay for staggering effect */
  .bouncing-ball:nth-child(2) {
    left: 10%;
    animation-delay: 0.2s;
  }
  
  .bouncing-ball:nth-child(3) {
    left: 20%;
    animation-delay: 1.6s;
  }
  
  .bouncing-ball:nth-child(4) {
    left: 30%;
    animation-delay: 0.3s;
  }
  
  .bouncing-ball:nth-child(5) {
    left: 40%;
    animation-delay: 1.2s;
  }
  
  .bouncing-ball:nth-child(6) {
    left: 3%;
    animation-delay: 1.3s;
  }
  
  .bouncing-ball:nth-child(7) {
    left: 60%;
    animation-delay: 1.1s;
  }
  
  .bouncing-ball:nth-child(8) {
    left: 70%;
    animation-delay: 0.4s;
  }
  
  .bouncing-ball:nth-child(9) {
    left: 80%;
    animation-delay: 1.3s;
  }
  
  .bouncing-ball:nth-child(10) {
    left: 90%;
    animation-delay: 0.5s;
  }
  